@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Lobster&family=Manrope:wght@200&display=swap');

* {
    font-family: 'Inter';
}

.btn-primary {
    background: #FF5959;
    border-style: none;
    border-radius: 5px;
    width: 160px;
    height: 56px;
    font-size: 20px;
    color: #FFFFFF;
}

.btn-primary:hover {
    background: #ffffff;
    border-style: none;
    border-radius: 5px;
    width: 160px;
    height: 56px;
    font-size: 20px;
    color: #FF5959;
    transform: scale(1.1);
    transition: 0.5s;
}

/* Header section */

.div-container img {
    width: 100%;
    object-fit: cover;
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
}

.div-container>h1 {
    position: absolute;
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    top: 230px;
    left: 285px;
    width: 750px;
}

.div-container>p {
    position: absolute;
    font-size: 22px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    top: 420px;
    left: 280px;
    width: 750px;
}

.div-container>button {
    position: absolute;
    top: 550px;
    left: 550px;
}

/* Donate Today section */

.donate-today {
    position: absolute;
    text-align: center;
    margin-top: 100px;
    margin-left: 260px;
    margin-bottom: 100px;
}

.donate-today>h2 {
    font-size: 40px;
    font-weight: 700;
    color: #000000;
}

.donate-today>.p {
    font-size: 17px;
    width: 500px;
    margin-left: 100px;
    color: #1f1f1f;
}

.donate-today>ul>li {
    display: inline-block;
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #636363;
    border-radius: 5px;
    box-sizing: border-box;
    width: 136px;
    height: 123px;
    padding: 10px;
    padding-top: 40px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.donate-today>ul>li:hover {
    background: #FF5959;
    color: #FFFFFF;
    border: none;
    transform: scale(1.1);
    transition: 0.5s;
}

.donate-today p {
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 14px;
    color: #888585b9;
}

.donate-today>hr {
    width: 500px;
    border: 0.5px solid #817e7e2f;
}

.donate-today>button {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Donate plan */

.donate-plan {
    position: absolute;
    margin-top: 680px;
    margin-bottom: 100px;
}

.donate-plan>div>ul {
    display: flex;
}

.donate-plan>h2 {
    padding-left: 450px;
    font-size: 40px;
    font-weight: 700;
    color: #000000;
}

.donate-plan>p {
    padding-left: 350px;
    font-size: 17px;
    width: 500px;
    color: #1f1f1f;
    text-align: center;
}

.donate-plan>div>ul {
    margin-left: 148px;
}

.donate-plan>div>ul>li {
    list-style-type: none;
    width: 260px;
    height: 295px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 25px;
}

.donate-plan>div>ul>li:hover {
    background: #ff59597e;
    color: #FFFFFF;
    border: none;
    transform: scale(1.1);
    transition: 0.5s;
}

.donate-plan>div>ul>li>img {
    padding-left: 20px;
    padding-top: 80px;
}

.donate-plan>div>ul>li>h3 {
    padding-left: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}


.donate-plan>div>ul>li>p {
    padding-left: 20px;
    font-size: 14px;
    color: #1f1f1f;
}

/* Main section 1*/

.main-container {
    display: flex;
    margin-top: 1300px;
    margin-bottom: 50px;
}


.main-container>.main-text {
    width: 40%;
    height: 340px;
    margin-left: 127px;
}

.main-container>.main-text>h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #121212;
}

.main-container>.main-text>p {
    font-size: 17px;
    line-height: 24px;
    color: #1f1f1f;
}

.main-container>.main-text>button {
    margin-top: 5px;
    border-style: none;
    border-radius: 5px;
    width: 260px;
    height: 56px;
}

.main-container>.image {
    margin-left: 45px;
}

.main-container>.image:hover {
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: #000000 0px 0px 10px 0px;
}

/* Main Section 2 */

.main-container2 {
    display: flex;
    margin-bottom: 50px;
}


.main-container2>.main-text2 {
    width: 25%;
    height: 340px;
    margin-left: 50px;
}

.main-container2>.main-text2>h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #121212;
}

.main-container2>.main-text2>p {
    width: 140%;
    font-size: 17px;
    line-height: 24px;
    color: #1f1f1f;
}

.main-container2>.main-text2>button {
    margin-top: 5px;
    border-style: none;
    border-radius: 5px;
    width: 260px;
    height: 56px;
}

.main-container2>.image2 {
    margin-left: 100px;
}

.main-container2>.image2:hover {
    box-shadow: #000000 0px 0px 10px 0px;
    transform: scale(1.1);
    transition: 0.5s;
}

/* update section */
.update {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.update-text>h2 {
    width: 1200px;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #121212;
}

.update-text>p {
    width: 50%;
    margin-left: 25%;
    color: #707070;
    font-size: 18px;
    line-height: 28px;
}

.update .update-email {
    width: 800px;
    height: 200px;
    background: #FFF4D6;
    margin-left: 200px;
    display: flex;
    margin-top: 50px;
    margin-bottom: 130px;
}

.update input {
    margin-top: 80px;
    margin-left: 180px;
}

.update input[placeholder="Email"] {
    width: 300px;
    height: 50px;
    border-style: none;
    background-color: #d3d3d341;
    box-sizing: border-box;
    border-radius: 5px 0px 0px 5px;
    padding-left: 20px;
}

.update input[placeholder="Email"]:focus {
    outline: none;
}

.update-email .btn-primary {
    height: 50px;
    margin-top: 80px;
    border-radius: 0px 5px 5px 0px;
}

/* Footer Section */

.footer {
    background: #0B0D17;
    color: #FFFFFF;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    height: 200px;
}

.footer>h2 {
    padding-top: 50px;
    font-family: 'Lobster';
    font-size: 36px;
    letter-spacing: 0.5px;
    color: #FF5959;
}

.footer>p {
    position: absolute;
    margin-top: 0px;
    margin-left: 560px;
    font-size: 14px;
    line-height: 24px;
    color: #D9DBE1;
}

.footer>.copyright {
    position: absolute;
    margin-top: 30px;
    margin-left: 520px;
    font-size: 10px;
}

.footer>.copyright:hover {
    color: #FF5959;
    transform: scale(1.1);
    transition: 0.5s;
}