@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Lobster&family=Manrope:wght@200&display=swap');

* {
    font-family: 'Inter';
}

body {
    overflow-x: hidden;
}

.overall-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

audio {
    display: none;
}

.btn-primary {
    background: #FF5959;
    border-style: none;
    border-radius: 5px;
    width: 160px;
    height: 56px;
    font-size: 20px;
    color: #FFFFFF;
}

.btn-primary:hover {
    background: #ffffff;
    border-style: none;
    border-radius: 5px;
    width: 160px;
    height: 56px;
    font-size: 20px;
    color: #FF5959;
    transform: scale(1.1);
    transition: 0.5s;
}

/* Header section */
.heading {
    position: relative;
}

.div-container img {
    width: 100%;
    position: relative;
}

.heading .div-container>h1 {
    position: absolute;
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    top: 25%;
    left: 31%;
    width: 40%;
}

.div-container>p {
    position: absolute;
    font-size: 22px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    top: 42.99%;
    left: 30.99%;
    width: 750px;
}

.div-container>button {
    position: absolute;
    top: 690px;
    left: 47%;
}

/* Donate Today section */

.donate-today {
    text-align: center;
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 100px;
}

.donate-today>h2 {
    font-size: 40px;
    font-weight: 700;
    color: #000000;
}

.donate-today>.p {
    font-size: 17px;
    width: 500px;
    margin-left: 100px;
    color: #1f1f1f;
}

.donate-today>ul>li {
    display: inline-block;
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #636363;
    border-radius: 5px;
    box-sizing: border-box;
    width: 136px;
    height: 123px;
    padding: 10px;
    padding-top: 40px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.donate-today>ul>li:hover {
    background: #FF5959;
    color: #FFFFFF;
    border: none;
    transform: scale(1.1);
    transition: 0.5s;
}

.donate-today p {
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 14px;
    color: #888585b9;
}

.donate-today>hr {
    width: 500px;
    border: 0.5px solid #817e7e2f;
}

.donate-today>button {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Donate plan */

.donate-plan {
    text-align: center;
    justify-content: center;
    margin-bottom: 100px;
}

.donate-plan>div>ul {
    display: flex;
}

.donate-plan>h2 {
    padding-left: 50px;
    font-size: 40px;
    font-weight: 700;
    color: #000000;
    align-items: center;

}

.donate-plan>p {

    padding-left: 235px;
    font-size: 17px;
    width: 60%;
    color: #1f1f1f;
    text-align: center;
    justify-content: center;
}

.donate-plan>div>ul {
    margin-left: 80px;
}

.donate-plan>div>ul>li {
    list-style-type: none;
    width: 260px;
    height: 295px;
    background: rgba(104, 197, 207, 0.185);
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.donate-plan>div>ul>li:hover {
    background: #ff59597e;
    color: #FFFFFF;
    border: none;
    transform: scale(1.1);
    transition: 0.5s;
}

.donate-plan>div>ul>li>img {
    padding-right: 35%;
    padding-top: 80px;
}

.donate-plan>div>ul>li>h3 {
    padding-left: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}


.donate-plan>div>ul>li>p {
    padding-left: 20px;
    font-size: 14px;
    color: #1f1f1f;
}

/* Main section 1*/

.main-container {
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 300px;
}


.main-container>.main-text {
    width: 40%;
    height: 340px;
    margin-left: 127px;
}

.main-container>.main-text>h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #121212;
}

.main-container>.main-text>p {
    font-size: 17px;
    line-height: 24px;
    color: #1f1f1f;
}

.main-container>.main-text>button {
    margin-top: 5px;
    border-style: none;
    border-radius: 5px;
    width: 260px;
    height: 56px;
}

.main-container>.image {
    margin-left: 45px;
}

.main-container>.image:hover {
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: #00000088 0px 0px 10px 0px;
}

/* Main Section 2 */

.main-container2 {
    display: flex;
    margin-left: 300px;
    margin-bottom: 50px;
}


.main-container2>.main-text2 {
    width: 25%;
    height: 340px;
    margin-left: 50px;
}

.main-container2>.main-text2>h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #121212;
}

.main-container2>.main-text2>p {
    width: 140%;
    font-size: 17px;
    line-height: 24px;
    color: #1f1f1f;
}

.main-container2>.main-text2>button {
    margin-top: 5px;
    border-style: none;
    border-radius: 5px;
    width: 260px;
    height: 56px;
}

.main-container2>.image2 {
    margin-left: 100px;
}

.main-container2>.image2:hover {
    box-shadow: #000000 0px 0px 10px 0px;
    transform: scale(1.1);
    transition: 0.5s;
}

/* update section */
.update {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 10px;
    text-align: center;
}

.update-text>h2 {
    width: 1200px;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #121212;
}

.update-text>p {
    width: 50%;
    margin-left: 25%;
    color: #707070;
    font-size: 18px;
    line-height: 28px;
}

.update .update-email {
    width: 800px;
    height: 200px;
    background: #FFF4D6;
    margin-left: 250px;
    display: flex;
    margin-top: 50px;
    margin-bottom: 130px;
}

.update input {
    margin-top: 80px;
    margin-left: 180px;
}

.update input[placeholder="Email"] {
    width: 300px;
    height: 50px;
    border-style: none;
    background-color: #d3d3d341;
    box-sizing: border-box;
    border-radius: 5px 0px 0px 5px;
    padding-left: 20px;
}

.update input[placeholder="Email"]:focus {
    outline: none;
}

.update-email .btn-primary {
    height: 50px;
    margin-top: 80px;
    border-radius: 0px 5px 5px 0px;
}

/* Footer Section */

.footer {
    background: #0B0D17;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* margin-top: 100px; */
    /* margin-bottom: 0%; */
    height: 200px;
    /* border: 2px solid #ffe600; */
}

footer div>h2 {
    padding-top: 50px;
    font-family: 'Lobster';
    font-size: 36px;
    letter-spacing: 0.5px;
    color: #FF5959;
}

.footer div>p {
    /* position: absolute; */
    margin-top: 0px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 24px;
    color: #D9DBE1;
}

.footer div>.copyright {
    /* position: absolute; */
    /* margin-top: 30px; */
    margin-left: 10px;
    /* padding-bottom: 400px; */
    font-size: 10px;
}

.footer div>.copyright:hover {
    color: #FF5959;
    transform: scale(1.1);
    transition: 0.5s;
}


/* Media Query */
@media screen and (max-width: 576px) {
    .heading .div-container>h1 {
        font-size: 20px;
        top: 21%;
        left: 19%;
        width: 66%;
    }

    .div-container>p {
        font-size: 10px;
        top: 46.99%;
        left: 4.99%;
        width: 90%;
    }

    .div-container>button {
        top: 70%;
        left: 41%;
    }

    .btn-primary {
        border-radius: 3px;
        width: 20%;
        height: 10%;
        font-size: 9px;
    }

    .donate-today {
        margin-top: 0%;
        margin-left: 0%;
        margin-bottom: 15px;
    }

    .donate-today>h2 {
        font-size: 20px;
    }

    .donate-today>.p {
        font-size: 10px;
        width: 49%;
        margin-left: 26%;
        margin-top: 0%;
    }

    .donate-today>ul {
        padding-left: 0%;
    }

    .donate-today>ul>li {
        margin-top: 0%;
        margin-bottom: 0%;
        margin-left: 0%;
        border: 0.5px solid rgb(99, 99, 99);
        border-radius: 3px;
        width: 14%;
        padding-top: 2%;
        padding-left: 1.5%;
        font-size: 10px;
        height: 5%;
    }

    .donate-today p {
        margin-top: 0%;
        margin-bottom: 0%;
        font-size: 5px;
    }

    .donate-today>hr {
        width: 60%;
    }

    .donate-today>button {
        margin-top: 0%;
        margin-bottom: 0%;
        margin-left: 0%;
        border-radius: 3px;
        width: 20%;
        height: 20px;
        font-size: 6px;
    }

    .donate-plan {
        margin-bottom: 0%;
    }

    .donate-plan>h2 {
        padding-left: 0%;
        font-size: 20px;
    }

    .donate-plan>p {
        padding-left: 9%;
        font-size: 13px;
        width: 84%;
    }

    .donate-plan>div>ul {
        margin-left: 0%;
        flex-direction: column;
    }

    .donate-plan>div>ul>li>img {
        padding-right: 0%;
    }

    .donate-plan>div>ul>li>h3 {
        padding-left: 3%;
    }

    .donate-plan>div>ul>li>p {
        padding-left: 4%;
    }

    .main-container {
        margin-top: 50px;
        margin-left: 0%;
        margin-bottom: 0%;
        flex-direction: column-reverse;
    }

    .main-container>.main-text {
        width: 100%;
        height: 270px;
        margin-left: 0%;
    }

    .main-container>.image {
        margin-left: 0%;
    }

    .main-container>.image>img {
        width: 99.70%;
        height: 100%;
    }

    .main-container>.main-text>h2 {
        font-size: 25px;
        width: 50%;
        line-height: 90%;
    }

    .main-container>.main-text>p {
        font-size: 12px;
        width: 80%;
        line-height: 16px;

    }

    .main-container>.main-text>button {
        width: 30%;
        height: 8%;
    }

    .main-container2 {
        flex-direction: column;
        margin-left: 0%;
    }

    .main-container2>.image2 {
        margin-left: 0%;
        width: 380px;
        height: 300px;
    }

    .main-container2>.main-text2 {
        width: 77%;
        margin-left: 0%;
    }

    .main-container2>.main-text2>h2 {
        font-size: 38px;
        line-height: 43px;
    }

    .main-container2>.main-text2>p {
        width: 130%;
        font-size: 15px;
        line-height: 20px;
    }

    .main-container2>.main-text2>button {
        border-radius: 3px;
        width: 40%;
        height: 30px;
    }

    .update {
        margin-top: 0%;
        margin-left: 15%;
        margin-bottom: 0%;
    }

    .update-text>h2 {
        width: 82%;
        font-size: 20px;
        line-height: 0;
    }

    .update-text>p {
        width: 82%;
        margin-left: 0%;
        font-size: 13px;
        line-height: 23px;
    }

    .update .update-email {
        width: 102%;
        height: 110px;
        margin-left: -30px;
        margin-top: 0px;
        margin-bottom: 0%;
    }

    .update input {
        margin-top: 15%;
        margin-left: 20%;
    }

    .update input[placeholder="Email"] {
        width: 120px;
        font-size: 10px;
        height: 30px;
        padding-left: 10px;
        background-color: #D9DBE1;
    }

    .update-email .btn-primary {
        height: 30px;
        margin-top: 15%;
    }
}

@media only screen and (min-width: 577px) and (max-width: 1440px) {
    .div-container>p {
        top: 54.99%;
        left: 23.99%;
    }

    .div-container>button {
        top: 640px;
        left: 45.5%;
    }

    .main-container,
    .update {
        margin-top: 50px;
        margin-left: 0px;
    }

    .main-container2 {
        margin-left: 0px;
    }

    .update .update-email {
        margin-left: 210px;
    }
}

.hidden {
    display: none;
}